<head>
<meta charset="utf-8" />
<title>Text Typing Tutor</title>
<script>
var get = null;
var getAttr = null;
var setAttr = null;
var svgns = 'http://www.w3.org/2000/svg';
var xlinkns = 'http://www.w3.org/1999/xlink';
var svgRoot = null;
var selectedCid = 0;
var testPos = 0;
var help= '左右手應該隨時保持輕輕平放在鍵盤盤面上，平放位置是<br/>'+
          '『左手食指按在 F 鍵突起』+『右手食指按在 J 鍵突起』<br/>'+
          '食指比較靈活，因此要兼顧兩個鍵位，而小指要照顧比較不常用的鍵位<br/>'+
          '☆有選擇訓練課程時，<span style="color:#f00; font-size:32pt;">紅色</span>表示受測鍵，提醒你該打的字';

var classDB = [
  { title: '請選課程',
    test: '',
  }, {
    title: '標準手位',
    test: 'asdf jkl; ',
  }, {
    title: '食指之一',
    test: 'asdfg hjkl; ',
  }, {
    title: '食指之二',
    test: 'asdfr ujkl; ',
  }, {
    title: '食指之三',
    test: 'asdft yjkl; ',
  }, {
    title: '食指練習',
    test: 'rad dad fad huh shv man nam ljd lsd kgh jvb bkb guy buy muy nrt nrm ntb sks',
  }, {
    title: '中指之一',
    test: 'asdef jkil; ',
  }, {
    title: '中指之二',
    test: 'asdcf jk,l; ',
  }, {
    title: '中指練習',
    test: 'aed sad caf jik jl, sif, aids said; flak; kad, fjk, fl; flk,',
  }, {
    title: '無名指1',
    test: 'aswdf jklo; ',
  }, {
    title: '無名指2',
    test: 'asxdf jkl.; ',
  }, {
    title: '無名指全',
    test: 'was dwaf jok. kxa jokx was; lal.',
  }, {
    title: '小指之一',
    test: 'aqsdf jklp; ',
  }, {
    title: '小指之二',
    test: 'azsdf jkl/; ',
  }, {
    title: '小指練習',
    test: 'qal fzk jqk ka/ /qk pa; /zj',
  }, {
    title: '數字1',
    test: 'a1l9 s2k8 d3j7 f4;0 f4x2 j8, l0m',
  }, {
    title: '數字2',
    test: 'a17l92 s20k83 d37j74 f40;01 f48x29 j81, l03m',
  }, {
    title: '數字練習',
    test: '1627384950 6172839405 ',
  }
];

var ascii2scan = {
  41: 48,
  33: 49,
  64: 50,
  35: 51,
  36: 52,
  37: 53,
  94: 54,
  38: 55,
  42: 56,
  40: 57,
  58: 186,
  59: 186,
  44: 188,
  60: 188,
  45: 189,
  95: 189,
  46: 190,
  62: 190,
  47: 191,
  63: 191,
  96: 192,
  126: 192,
  91: 219,
  123: 219,
  93: 221,
  125: 221,
  92: 220,
  124: 220,
  34: 222,
  39: 222,
};

var ascii2scan = {
  41: 48,
  33: 49,
  64: 50,
  35: 51,
  36: 52,
  37: 53,
  94: 54,
  38: 55,
  42: 56,
  40: 57,
  58: 186,
  59: 186,
  44: 188,
  60: 188,
  45: 189,
  95: 189,
  46: 190,
  62: 190,
  47: 191,
  63: 191,
  96: 192,
  126: 192,
  91: 219,
  123: 219,
  93: 221,
  125: 221,
  92: 220,
  124: 220,
  34: 222,
  39: 222,
};

function getScan(code){
  if (!code) code = 32;
  code = ascii2scan[code] || code; 
  if (code <= 122 && code >= 97) code -= 32;
  return code;
}

function parsingAllowKeys(){
  var allowKeys = [];
  for (var i=0; i<classDB[selectedCid].test.length; ++i){
    var code = getScan(classDB[selectedCid].test.charCodeAt(i));
    if (allowKeys.has(code) < 0 && code != 32) {
      allowKeys.push(code);
    }
  }
  classDB[selectedCid].allowKeys = allowKeys;
}

function selectClass(){
  var sel = get('selClass');
  var cid = sel.options[sel.selectedIndex].value;

  selectedCid = cid;
  testPos = 0;

  parsingAllowKeys();
  cleanLayout();
  showCurrentTestChar();
}

Array.prototype.has = function(elt) {
  for (var from=0; from < this.length; ++from) {
    if (this[from] == elt) return from;
  }
  return -1;
}

function showClass(){
  var classOB = get('selClass');
  for (var i=0; i<classDB.length; ++i){
    classOB.options.add(new Option(classDB[i].title, i));
  }
  classOB.options[0].selected = 'selected';
  classOB.onclick = selectClass;
  selectClass();
}

function init() {
  get = function(id) { return document.getElementById(id); }
  getAttr = function(id, att) {
    return document.getElementById(id).getAttributeNS(null, att);
  }
  setAttr = function(id, att, v) {
    return document.getElementById(id).setAttributeNS(null, att, v);
  }

  if (document.addEventListener) {
    document.addEventListener("keyup", myKeyUp, false);
    document.addEventListener("keypress", myKeyPress, false);
  } else if (document.attachEvent) {
    document.attachEvent("onkeyup", myKeyUp);
    document.attachEvent("onkeypress", myKeyPress);
  } else {
    document.onkeyup= myKeyUp;
    document.onkeypress= myKeyPress;
  }
  svgRoot = get('svg1');
  get('help').innerHTML = help;

  showLayout();
  showClass();
} // init()

var colorMap = {
  0: '#126666',
  1: '#00FF00',
  2: '#126612',
  3: '#FF00FF',
  4: '#FFFF00',
  10: '#121266',
  11: '#00FFFF',
  12: '#661266',
  13: '#0000FF',
};

function addKeyButton(keyCode, keyItem, LR){
  var bp = keyItem[2] ? '#'+keyItem[2] : '#keyBP';
  // var bg = keyItem[3] ? 'url(#'+keyItem[3] : 'url(#keyBG'; bg += ')';
  var bg = colorMap[keyItem[6]];
  var fp = keyItem[4] ? '#'+keyItem[4] : '#keyFP';
  var fg = keyItem[5] ? 'url(#'+keyItem[5] : 'url(#keyFG'; fg += ')';
  svgRoot.insertElement('use', { id:'keyBG'+LR+keyCode, x:keyItem[0], y:keyItem[1], href:[xlinkns, bp], fill:bg});
  svgRoot.insertElement('use', { id:'keyFG'+LR+keyCode, x:keyItem[0], y:keyItem[1], href:[xlinkns, fp], fill:fg});
  if (keyItem.length == 8) {
    svgRoot.insertElement("path",
      { id:'keySym'+LR+keyCode, x:keyItem[0], y:keyItem[1], d:keyItem[7]});
  } else {
    svgRoot.insertElement("path",
      { id:'keySym'+LR+keyCode, x:keyItem[0], y:keyItem[1]});
  }
}

function cleanLayout(){
  for (var keyCode in keyDB) {
    ToggleFP(keyCode);
    ToggleBP(keyCode);
  }
}

function showLayout(){
  for (var keyCode in keyDB) {
    var keyItem = keyDB[keyCode];
    if (typeof(keyItem[0]) == "object") {
      addKeyButton(keyCode, keyItem[0], 'L');
      addKeyButton(keyCode, keyItem[1], 'R');
    } else {
      addKeyButton(keyCode, keyItem, '');
    }
  }
} // showLayout()

var keyDB = {
  // keyCode: [ x, y, bp-xlink:href, bp-fill, fp-xlink:href, fp-fill, button-color, symbol-path ] // key-Position
  192: [0, 0, 0, 0, 0, 0, 0, // 'key00',
"M23.136,37.281l1.035,3.692h-1.56l-2.023-3.692H23.136z M14.823,25.957c0.934-1.008,2.178-2.232,3.738-2.232c0.864,0,1.31,0.048,2.348,0.696c0.7,0.432,1.44,1.128,2.328,1.128 c1.104,0,2.179-1.104,2.749-1.752l0.778,1.08c-0.939,1.032-2.184,2.256-3.743,2.256c-0.864,0-1.31-0.048-2.348-0.696 c-0.7-0.432-1.44-1.128-2.329-1.128c-1.104,0-2.179,1.104-2.748,1.752L14.823,25.957z",],
  49: [ 64, 0, 0, 0, 0, 0, 0, // 'key01',
"M82.274,41.441c2.342-0.13,4.535-0.416,5.191-3.016h1.56l-3.913,18.408h-2.184l2.94-13.832h-3.926L82.274,41.441z M82.886,29.196h2.208l-0.49,2.304h-2.208L82.886,29.196z M86.039,14.364h2.208l-3.078,12.672h-1.44L86.039,14.364z M116.576,20.251c-0.034,3.173-0.114,5.395-0.238,6.664c-0.215,2.232-1.213,3.349-2.992,3.349 c-0.759,0-1.779-0.158-3.06-0.476v-1.802c1.224,0.431,2.136,0.646,2.737,0.646c0.578,0,1.003-0.204,1.275-0.612 c0.204-0.306,0.34-0.776,0.408-1.411c0.125-1.077,0.204-2.675,0.238-4.794h-10.659l-0.527-1.309 c1.235-1.292,2.341-2.572,3.315-3.842l1.36,0.867c-0.352,0.465-1.128,1.371-2.329,2.72H116.576z",],
  50: [ 128, 0, 0, 0, 0, 0, 1, // 'key02',
"M152.648,56.833h-10.296c0.729-3.432,3.151-5.772,5.581-7.54l1.779-1.274c1.752-1.274,2.952-2.392,3.383-4.42 c0.337-1.586,0-3.302-1.976-3.302c-2.834,0-3.537,2.938-3.758,3.978h-2.288c0.74-3.484,2.699-5.85,6.469-5.85 c4.264,0,4.238,3.302,3.896,4.914c-0.597,2.808-2.082,4.29-4.512,6.058l-3.081,2.262c-1.197,0.858-2.151,1.924-2.671,3.146h7.904 L152.648,56.833z M153.81,18.3h1.344l-3.455,6.768c-0.207,0.408-0.369,0.72-0.446,1.08c-0.071,0.336,0.107,0.624,0.563,0.624 c2.184,0,4.554-2.568,5.12-5.232c0.771-3.624-1.925-6.072-6.029-6.072c-4.128,0-8.014,3.264-8.907,7.464 c-0.908,4.272,1.605,7.464,5.734,7.464c2.952,0,5.402-0.912,7.07-2.664h1.512c-2.097,2.64-5.192,4.104-8.888,4.104 c-4.92,0-8.058-3.984-7.012-8.904c1.046-4.92,5.876-8.904,10.797-8.904c5.184,0,8.246,3.096,7.328,7.416 c-0.883,4.152-4.799,6.768-7.631,6.768c-0.96,0-1.468-0.432-1.379-1.416h-0.048c-0.907,0.768-1.885,1.416-3.301,1.416 c-1.752,0-3.097-1.464-2.643-3.6c0.704-3.312,3.67-6.768,7.055-6.768c1.176,0,2.125,0.504,2.317,1.968h0.048L153.81,18.3z M146.921,26.772c2.232,0,4.414-3.264,4.801-5.088c0.23-1.08-0.209-2.4-1.434-2.4c-2.328,0-4.66,2.952-5.134,5.184 C144.87,25.812,145.625,26.772,146.921,26.772z M180.746,20.184c-0.034,3.117-0.119,5.276-0.255,6.477c-0.272,2.402-1.27,3.604-2.992,3.604 c-0.896,0-1.978-0.181-3.247-0.544v-1.733c1.247,0.431,2.188,0.646,2.822,0.646c0.827,0,1.377-0.431,1.648-1.292 c0.125-0.374,0.227-1.156,0.307-2.346c0.022-0.374,0.051-1.456,0.085-3.247h-4.471c-1.349,3.91-3.428,6.709-6.239,8.398 l-0.816-1.292c2.482-1.632,4.284-4,5.406-7.106h-4.726l-0.561-1.309c1.383-1.394,2.51-2.674,3.383-3.842l1.36,0.884 c-0.499,0.714-1.264,1.615-2.295,2.703H180.746z",],
  51: [ 192, 0, 0, 0, 0, 0, 2, // 'key03',
"M212.146,46.459h1.145c1.949,0,3.106-1.404,3.498-3.25c0.359-1.69,0.028-3.068-1.739-3.068 c-2.418,0-3.128,2.236-3.415,3.588h-2.288c0.669-3.146,2.609-5.304,6.016-5.304c3.848,0,4.151,2.73,3.715,4.784 c-0.393,1.846-1.677,3.484-3.7,3.952l-0.011,0.052c1.991,0.416,3.036,1.742,2.494,4.29c-0.713,3.354-2.9,5.694-6.437,5.694 c-4.939,0-4.309-4.316-4.137-5.122l0.05-0.234h2.288c-0.359,1.69,0.058,3.64,2.164,3.64c1.352,0,3.081-0.676,3.745-3.796 c0.458-2.158-0.294-3.51-2.582-3.51h-1.17L212.146,46.459z M209.307,26.581h-1.969l0.337-1.584h2.16l1.241-3.696h-2.088l0.337-1.584h2.304l1.636-4.872h1.584l-1.636,4.872h2.544 l1.636-4.872h1.584l-1.636,4.872h1.872l-0.336,1.584h-2.089l-1.241,3.696h1.992l-0.337,1.584h-2.184l-1.67,4.92h-1.584l1.67-4.92 h-2.544l-1.67,4.92h-1.584L209.307,26.581z M211.419,24.997h2.544l1.241-3.696h-2.544L211.419,24.997z M241.244,21.46l-3.077,4.607l-3.077-4.607l0.561-0.765l2.517,3.094l2.516-3.094L241.244,21.46z",],
  52: [ 256, 0, 0, 0, 0, 0, 3, // 'key04',
"M280.609,38.425h2.184l-2.569,12.09h2.08l-0.398,1.872h-2.08l-0.944,4.446h-2.185l0.945-4.446h-6.656l0.437-2.054 L280.609,38.425z M273.359,50.515h4.68l1.808-8.502h-0.052L273.359,50.515z M278.856,13.116h1.008l-0.296,1.392c2.897,0.144,3.904,1.728,3.33,4.656h-2.112c0.337-1.584,0.035-2.76-1.585-2.928 l-1.25,5.88c2.05,0.744,4.524,1.296,3.79,4.752c-0.766,3.6-3.521,4.824-5.856,4.968l-0.479,2.256h-1.008l0.479-2.256 c-3.594-0.144-4.25-2.136-3.521-5.568h2.112c-0.373,1.752-0.669,3.6,1.775,3.84l1.337-6.288c-2.013-0.696-4.188-1.416-3.488-4.704 c0.321-1.512,1.553-4.368,5.468-4.608L278.856,13.116z M278.192,16.236c-1.504,0.192-2.515,1.104-2.846,2.664 c-0.347,1.632,0.479,2.376,1.668,2.88L278.192,16.236z M276.252,30.108c1.514-0.12,2.857-1.248,3.21-2.904 c0.377-1.776-0.616-2.52-1.944-3.048L276.252,30.108z M305.227,26.083h-1.189l-4.931-5.389h1.836L305.227,26.083z",],
  53: [ 320, 0, 0, 0, 0, 0, 3, // 'key05',
"M339.618,38.789h8.216l-0.431,2.028h-6.475l-1.86,5.33l0.04,0.052c0.948-0.91,2.27-1.378,3.518-1.378 c2.756,0,4.163,2.184,3.34,6.058c-0.729,3.432-2.851,6.318-6.698,6.318c-4.368,0-4.276-3.614-3.961-5.096h2.288 c-0.205,0.962-0.354,3.38,2.089,3.38c2.601,0,3.635-2.912,4.033-4.784c0.431-2.028,0.13-4.16-2.184-4.16 c-1.586,0-2.888,1.352-2.981,1.794l-1.954-0.104L339.618,38.789z M334.129,19.116c0.51-2.4,1.267-4.608,4.123-4.608s2.675,2.208,2.165,4.608c-0.511,2.4-1.268,4.608-4.124,4.608 C333.438,23.725,333.618,21.517,334.129,19.116z M345.908,14.508h1.68l-11.123,17.328h-1.68L345.908,14.508z M338.688,19.116 c0.418-1.968,0.632-3.312-0.712-3.312s-1.702,1.344-2.12,3.312c-0.418,1.968-0.632,3.312,0.712,3.312 C337.913,22.428,338.271,21.084,338.688,19.116z M342.124,27.229c0.511-2.4,1.268-4.608,4.124-4.608 c2.855,0,2.675,2.208,2.164,4.608c-0.51,2.4-1.267,4.608-4.123,4.608S341.614,29.628,342.124,27.229z M346.685,27.229 c0.418-1.968,0.632-3.312-0.712-3.312c-1.345,0-1.702,1.344-2.12,3.312c-0.418,1.968-0.632,3.312,0.712,3.312 S346.267,29.196,346.685,27.229z M372.831,29.55h-13.328v-1.563h5.882v-3.298h-3.808c-0.386,0-0.703-0.13-0.952-0.391c-0.238-0.249-0.357-0.566-0.357-0.952 v-5.304h1.632v4.488c0,0.374,0.188,0.561,0.562,0.561h2.924v-6.222h1.632v6.222h2.737c0.374,0,0.561-0.187,0.561-0.561v-4.488 h1.649v5.304c0,0.397-0.13,0.72-0.391,0.969c-0.272,0.25-0.606,0.374-1.003,0.374h-3.554v3.298h5.814V29.55z",],
  54: [ 384, 0, 0, 0, 0, 0, 13, // 'key06',
"M409.1,42.845c0.326-1.534-0.283-2.704-1.843-2.704c-3.068,0-4.223,4.576-4.428,5.538l-0.31,1.456h0.053 c0.507-0.676,1.918-2.054,3.946-2.054c3.198,0,4.307,2.366,3.572,5.824c-0.758,3.562-3.105,6.292-6.538,6.292 c-5.096,0-4.415-4.914-3.603-8.736c0.896-4.212,2.394-10.036,7.723-10.036c4.29,0,3.897,3.562,3.715,4.42H409.1z M403.918,55.481 c2.288,0,3.409-2.34,3.818-4.264c0.409-1.924,0.438-4.264-2.006-4.264s-3.409,2.34-3.818,4.264 C401.503,53.141,401.63,55.481,403.918,55.481z M406.465,14.844h1.152l3.287,10.392h-1.584l-2.646-8.664l-6.33,8.664h-1.584L406.465,14.844z M433.227,20.694l-4.284,5.389h-1.836l4.931-5.389H433.227z",],
  55: [ 448, 0, 0, 0, 0, 0, 13, // 'key07',
"M466.084,38.789h10.504l-0.403,1.898c-1.296,1.326-3.228,3.562-4.957,6.318c-1.772,2.834-3.472,6.058-4.611,9.828h-2.548 c0.93-2.782,2.291-5.642,4.016-8.372c1.667-2.704,3.701-5.304,5.993-7.644h-8.424L466.084,38.789z M471.822,26.749c0.52-0.864,0.939-1.824,1.381-3.336h1.872c-0.265,1.248-1.626,4.152-2.453,4.992l1.551,3.096h-2.28 l-0.811-1.608c-1.585,1.248-2.789,1.944-4.637,1.944c-4.177,0-4.41-3.192-4.078-4.752c0.377-1.776,1.65-3.36,3.271-4.44 l1.447-0.936l-0.345-0.864c-0.42-0.96-0.84-1.92-0.585-3.12c0.429-2.016,2.322-3.36,4.267-3.36c2.16,0,3.425,0.936,2.93,3.264 c-0.356,1.68-1.763,2.76-3.147,3.744l-0.736,0.528L471.822,26.749z M467.794,23.004c-1.541,0.816-2.896,2.112-3.279,3.912 c-0.443,2.088,0.785,3.192,2.466,3.192c1.344,0,2.409-0.72,3.424-1.656L467.794,23.004z M469.399,20.196 c0.926-0.744,1.837-1.416,2.081-2.568c0.21-0.984-0.362-1.68-1.37-1.68c-1.032,0-1.853,0.696-2.062,1.68 c-0.163,0.768,0.157,1.632,0.517,2.424l0.286,0.576L469.399,20.196z M493.028,16.171c0-0.317,0.107-0.589,0.322-0.816c0.227-0.227,0.499-0.34,0.816-0.34s0.589,0.113,0.815,0.34 c0.216,0.227,0.323,0.499,0.323,0.816s-0.107,0.59-0.323,0.816c-0.227,0.215-0.498,0.323-0.815,0.323s-0.59-0.108-0.816-0.323 C493.136,16.761,493.028,16.489,493.028,16.171z",],
  56: [ 512, 0, 0, 0, 0, 0, 12, // 'key08',
"M531.556,47.031c-1.686-0.754-2.263-1.95-1.843-3.926c0.63-2.964,2.788-4.68,5.7-4.68s4.342,1.716,3.711,4.68 c-0.42,1.976-1.506,3.172-3.512,3.926c2.055,0.728,2.769,2.262,2.244,4.732c-0.515,2.418-2.3,5.434-6.434,5.434 s-4.637-3.016-4.123-5.434C527.825,49.293,529.191,47.759,531.556,47.031z M531.788,55.481c2.132,0,3.338-1.638,3.797-3.796 c0.458-2.158-0.052-3.796-2.184-3.796s-3.338,1.638-3.797,3.796C529.146,53.843,529.656,55.481,531.788,55.481z M531.989,43.157 c-0.364,1.716,0.087,3.016,1.777,3.016c1.664,0,2.694-1.3,3.059-3.016c0.37-1.742-0.112-3.016-1.776-3.016 C533.358,40.141,532.359,41.415,531.989,43.157z M534.423,14.364h1.44l-0.607,2.856l2.777-0.984l0.232,1.392l-2.886,0.816l1.345,2.256l-1.39,0.888l-1.207-2.448 l-2.248,2.448l-1.012-0.888l2.304-2.256l-2.539-0.816l0.824-1.392l2.358,0.984L534.423,14.364z M564.746,18.177c-1.666,1.53-3.672,3.293-6.019,5.287v6.732h-1.632v-6.732c-1.904-2.198-3.74-4.04-5.508-5.525l1.292-1.088 c1.723,1.564,3.457,3.281,5.202,5.151c1.813-1.575,3.632-3.247,5.457-5.015L564.746,18.177z",],
  57: [ 576, 0, 0, 0, 0, 0, 11, // 'key09',
"M593.736,52.777c-0.32,1.508,0.283,2.704,1.844,2.704c3.067,0,4.228-4.602,4.427-5.538l0.31-1.456h-0.052 c-0.508,0.676-1.919,2.054-3.946,2.054c-3.198,0-4.308-2.366-3.572-5.824c0.757-3.562,3.105-6.292,6.537-6.292 c5.096,0,4.41,4.94,3.604,8.736c-0.896,4.212-2.394,10.036-7.724,10.036c-4.29,0-3.896-3.562-3.715-4.42H593.736z M598.919,40.141 c-2.288,0-3.404,2.314-3.818,4.264c-0.415,1.95-0.438,4.264,2.005,4.264c2.444,0,3.404-2.314,3.818-4.264 C601.339,42.455,601.206,40.141,598.919,40.141z M601.938,14.364c-2.622,3.192-4.14,7.056-4.931,10.776c-0.826,3.888-0.697,7.344,0.35,10.776h-1.152 c-1.598-3.096-2.02-6.984-1.213-10.776c0.811-3.816,2.851-7.656,5.794-10.776H601.938z M628.797,18.365h-4.199c-0.182,0.997-0.453,2.147-0.815,3.451h3.094l1.054,0.935c-0.227,2.437-0.73,4.885-1.513,7.344 l-1.581-0.544c0.68-1.938,1.173-3.995,1.479-6.171h-3.009c-1.314,3.457-3.445,5.661-6.392,6.613l-0.969-1.411 c1.405-0.442,2.561-1.082,3.468-1.921c0.861-0.805,1.598-1.898,2.21-3.281h-3.961l-1.037-1.241 c0.555-1.666,0.935-2.924,1.139-3.773h-2.227v-1.547h13.26V18.365z M623.034,18.365h-3.655c-0.363,1.36-0.697,2.51-1.003,3.451 h3.791C622.484,20.773,622.773,19.623,623.034,18.365z",],
  48: [ 640, 0, 0, 0, 0, 0, 10, // 'key010',
"M656.149,47.889c0.862-4.056,2.298-9.464,7.264-9.464s4.202,4.94,3.24,9.464c-0.829,3.9-2.265,9.308-7.23,9.308 S655.221,52.257,656.149,47.889z M659.788,55.481c2.808,0,3.754-3.718,4.577-7.592c0.862-4.056,1.491-7.748-1.316-7.748 c-2.809,0-3.749,3.692-4.611,7.748C657.614,51.763,656.979,55.481,659.788,55.481z M655.766,35.917c2.622-3.192,4.14-7.056,4.931-10.776c0.826-3.888,0.696-7.344-0.35-10.776h1.151 c1.599,3.096,2.02,6.984,1.214,10.776c-0.811,3.816-2.852,7.656-5.794,10.776H655.766z M692.78,23.5c-0.307,1.643-0.805,2.986-1.496,4.029c-0.76,1.134-1.836,2.074-3.23,2.822l-1.274-1.377 c2.437-1.054,3.779-2.675,4.028-4.862h-9.23l-0.578-1.173c0.725-1.847,1.27-3.304,1.632-4.369h-3.077v-1.547h10.319l0.918,1.258 c-0.307,0.805-0.855,2.227-1.649,4.267h2.347L692.78,23.5z M688.904,18.57h-4.488c-0.329,0.93-0.805,2.255-1.428,3.978h4.352 C687.884,21.256,688.405,19.93,688.904,18.57z",],
  189: [ 704, 0, 0, 0, 0, 0, 10, // 'key011',
"M719.951,48.513h9.75l-0.298,1.872h-9.75L719.951,48.513z M717.117,33.3h12.001l-0.256,1.2h-12L717.117,33.3z M747.939,16.954c0,3.15-0.079,5.525-0.237,7.123c-0.125,1.27-0.402,2.374-0.833,3.315 c-0.408,0.884-1.055,1.831-1.938,2.839l-1.359-0.935c0.793-0.793,1.377-1.586,1.751-2.38c0.374-0.782,0.634-1.734,0.781-2.856 c0.137-1.077,0.204-3.445,0.204-7.106H747.939z M756.763,29.891h-4.691c-0.374,0-0.669-0.159-0.885-0.476 c-0.204-0.283-0.306-0.618-0.306-1.003V16.954h1.632v10.778c0,0.385,0.192,0.578,0.578,0.578h3.672V29.891z",],
  187: [ 768, 0, 0, 0, 0, 0, 10, // 'key012',
"M781.939,52.049h13.156l-0.365,1.716h-13.156L781.939,52.049z M783.066,46.745h13.156l-0.364,1.716h-13.156L783.066,46.745 z M787.831,26.22h-5.28l0.337-1.584h5.28l1.122-5.28h1.584l-1.122,5.28h5.279l-0.336,1.584h-5.28l-1.122,5.28h-1.584 L787.831,26.22z",],
  220: [ 832, 0, 0, 0, 0, 0, 10,  // 'key013',
"M851.649,37.905h1.717l1.931,19.292h-1.716L851.649,37.905z M854.422,14.028h1.584l-3.785,17.808h-1.584L854.422,14.028z",],
  8: [ 896, 0, 0, 0, 0, 0, 10, // 'key014',
"M935.23,51.25v2.375l-22.805-0.094l2.156,2.685l0.023,3.221l-5.625-7.023l5.625-6.977l0.023,3.023l-2.18,2.672 L935.23,51.25z",],
  9: [ 0, 64, 'keyTabBP', 0, 'keyTabFP', 0, 0, // 'key10',
"M31.496,115.036l-1.711-1.711l2.719-2.742H15.418v-2.406h17.086l-2.719-2.719l1.711-1.734l5.672,5.668L31.496,115.036z M37.184,115.622V103.13h2.406v12.492H37.184z",],
  81: [ 80, 64, 0, 0, 0, 0, 0, // 'key11',
"M102.819,120.261c-0.933,0.598-2.071,0.936-3.396,0.936c-5.122,0-4.925-4.966-3.93-9.646 c0.995-4.68,2.908-9.646,8.03-9.646s4.924,4.966,3.93,9.646c-0.569,2.678-1.447,5.46-3.067,7.332l1.507,1.716l-1.561,1.352 L102.819,120.261z M100.153,117.271l1.572-1.404l1.384,1.56c0.871-1.404,1.448-3.51,1.951-5.876 c0.912-4.29,1.236-7.774-1.936-7.774s-4.329,3.484-5.241,7.774c-0.912,4.29-1.236,7.774,1.936,7.774 c0.676,0,1.281-0.156,1.784-0.442L100.153,117.271z M132.354,93.075l-1.207,1.189c-0.873-0.759-2.085-1.768-3.638-3.025c-1.938,1.496-4.261,2.453-6.97,2.873l-0.561-1.53 c2.482-0.385,4.505-1.156,6.069-2.312c-1.688-1.02-3.372-1.898-5.049-2.635l0.765-1.428c2.018,0.907,3.894,1.915,5.627,3.026 c0.997-0.997,1.825-2.346,2.482-4.046h-9.01l-0.697-1.632c1.009-1.065,1.938-2.17,2.788-3.314l1.343,1.02 c-0.408,0.556-1.088,1.338-2.04,2.346h8.67l0.901,1.224c-0.669,2.051-1.706,3.813-3.111,5.287 C129.929,91,131.142,91.987,132.354,93.075z",],
  87: [ 144, 64, 0, 0, 0, 0, 1, // 'key12',
"M158.268,102.269h2.288l-0.394,15.184h0.052l5.854-15.184h2.756l-0.602,15.184h0.052l6.062-15.184h2.288l-7.768,18.564 h-2.782l0.646-15.028h-0.052l-5.872,15.028h-2.782L158.268,102.269z M196.865,93.006l-1.462,0.748c-0.238-0.566-0.516-1.161-0.833-1.785l-9.775,1.769l-0.85-1.599 c1.824-1.972,3.326-4.142,4.505-6.511h-4.981v-1.581h5.695c0.396-1.065,0.742-2.119,1.037-3.162l1.632,0.392 c-0.147,0.544-0.476,1.468-0.986,2.771h5.951v1.581l-6.63-0.017c-0.896,2.006-2.244,4.114-4.046,6.324l7.718-1.292 c-0.34-0.544-0.736-1.145-1.19-1.802l1.241-0.85C195.045,89.646,196.037,91.318,196.865,93.006z",],
  69: [ 208, 64, 0, 0, 0, 0, 2, // 'key13',
"M226.936,102.269h9.594l-0.432,2.028h-7.306l-1.238,5.824h6.891l-0.432,2.028h-6.89l-1.415,6.656h7.618l-0.431,2.028 h-9.906L226.936,102.269z M253.47,93.431l-1.648,0.731c-0.896-2.142-1.989-4.256-3.281-6.341c1.065-2.062,2.097-4.432,3.094-7.106l1.547,0.663 c-0.805,2.21-1.739,4.312-2.805,6.307C251.611,89.749,252.643,91.664,253.47,93.431z M259.794,81.752 c-0.884,1.848-1.978,3.87-3.281,6.069c1.1,1.7,2.131,3.53,3.094,5.491l-1.648,0.714c-0.93-2.062-2.029-4.131-3.298-6.205 c1.359-2.278,2.521-4.545,3.484-6.8L259.794,81.752z",],
  82: [ 272, 64, 0, 0, 0, 0, 3, // 'key14',
"M290.207,102.269h6.006c2.912,0,4.394,1.716,3.769,4.654c-0.431,2.028-1.586,4.16-3.854,4.68l-0.011,0.052 c1.573,0.182,2.201,1.508,1.968,3.094l-0.518,3.172c-0.333,2.054-0.105,2.574,0.369,2.912h-2.757 c-0.307-0.39-0.195-1.768-0.055-2.678l0.458-2.886c0.359-2.548-1.012-2.704-2.182-2.704h-3.094l-1.758,8.268h-2.288 L290.207,102.269z M290.704,110.693h2.263c1.352,0,3.821,0,4.584-3.588c0.388-1.82-0.592-2.964-2.724-2.964h-2.729L290.704,110.693 z M323.012,94.197h-1.632v-5.016c-4.375,1.055-6.664,1.581-6.868,1.581c-0.793,0-1.189-0.328-1.189-0.985v-8.534h1.632v7.072 c0,0.363,0.192,0.544,0.578,0.544c0.192,0,2.142-0.436,5.848-1.309v-6.868h1.632V94.197z",],
  84: [ 336, 64, 0, 0, 0, 0, 3, // 'key15',
"M356.631,120.833h-2.288l3.516-16.536h-4.654l0.431-2.028h11.622l-0.431,2.028h-4.68L356.631,120.833z M388.712,83.81c-1.508,1.553-3.168,2.93-4.981,4.131v6.324h-1.632V89.08c-1.587,0.975-3.399,1.893-5.439,2.754 l-1.037-1.411c4.487-1.632,8.488-4.238,12.002-7.82L388.712,83.81z M384.938,81.736c-2.618,2.142-5.065,3.598-7.344,4.369 l-0.901-1.428c2.539-0.884,4.925-2.267,7.157-4.147L384.938,81.736z",],
  89: [ 400, 64, 0, 0, 0, 0, 13, // 'key16',
"M417.389,102.269h2.521l1.69,8.684l5.512-8.684h2.392l-7.312,11.284l-1.547,7.28h-2.288l1.547-7.28L417.389,102.269z M452.559,80.988c0.022,1.031,0.046,2.068,0.068,3.111c-0.022,1.586-0.198,2.816-0.527,3.689 c-0.441,1.19-1.167,1.785-2.176,1.785c-0.442,0-1.179-0.113-2.21-0.34l-0.323-1.734c0.93,0.295,1.621,0.442,2.074,0.442 c0.476,0,0.811-0.159,1.003-0.476c0.283-0.453,0.425-2.08,0.425-4.879h-5.848v11.628h-1.632V82.585h-3.639v-1.598H452.559z",],
  85: [ 464, 64, 0, 0, 0, 0, 13, // 'key17',
"M481.999,102.269h2.288l-2.774,13.052c-0.58,2.73,0.033,4.004,2.295,4.004c2.444,0,3.471-1.404,4.023-4.004l2.774-13.052 h2.288l-2.774,13.052c-0.758,3.562-3.069,5.876-6.709,5.876c-3.719,0-4.998-2.054-4.186-5.876L481.999,102.269z M516.644,88.247h-12.954v-1.564h12.954V88.247z",],
  73: [ 528, 64, 0, 0, 0, 0, 12, // 'key18',
"M550.303,102.269h2.287l-3.945,18.564h-2.288L550.303,102.269z M580.898,82.892h-5.559v3.672l-1.037,1.071c-0.68-0.045-1.094-0.068-1.241-0.068c-0.736,0-1.359,0.193-1.87,0.578 c-0.555,0.431-0.833,1.003-0.833,1.717c0,0.725,0.437,1.309,1.31,1.751c0.714,0.351,1.479,0.526,2.295,0.526 c2.323,0,3.882-1.309,4.675-3.927l1.496,0.867c-0.465,1.496-1.195,2.669-2.193,3.519c-1.065,0.907-2.357,1.36-3.876,1.36 c-1.45,0-2.686-0.295-3.706-0.884c-1.235-0.726-1.853-1.763-1.853-3.111c0-1.416,0.532-2.481,1.598-3.196 c0.907-0.601,2.103-0.901,3.587-0.901v-2.975h-6.256v-1.581h13.464V82.892z",],
  79: [ 592, 64, 0, 0, 0, 0, 11, // 'key19',
"M619.453,111.551c-0.995,4.68-2.908,9.646-8.03,9.646s-4.925-4.966-3.93-9.646c0.995-4.68,2.908-9.646,8.03-9.646 S620.448,106.871,619.453,111.551z M609.885,111.551c-0.911,4.29-1.236,7.774,1.936,7.774c3.173,0,4.329-3.484,5.241-7.774 c0.911-4.29,1.236-7.774-1.936-7.774S610.797,107.261,609.885,111.551z M644.882,92.769l-1.53,1.003c-1.201-1.485-2.221-3.003-3.06-4.556c-1.009-1.881-1.87-4.074-2.584-6.579l-5.814,1.395 l-0.441-1.564l7.463-1.768c0.623,2.505,1.359,4.646,2.21,6.426C642.088,89.142,643.341,91.023,644.882,92.769z",],
  80: [ 656, 64, 0, 0, 0, 0, 10, // 'key110',
"M674.701,102.269h4.732c1.611,0,5.746,0,4.612,5.33c-0.734,3.458-3.354,5.382-6.5,5.382h-2.834l-1.669,7.852h-2.288 L674.701,102.269z M675.11,111.109h2.729c1.664,0,3.312-1.144,3.837-3.614c0.431-2.028-0.249-3.354-2.512-3.354h-2.573 L675.11,111.109z M708.627,86.768c-0.681,3.185-1.57,5.712-2.669,7.582l-1.7-0.697c1.122-1.598,1.949-3.718,2.482-6.358l-10.303-0.034 l-0.73-0.969c0.952-1.677,1.785-3.474,2.499-5.389l1.632,0.374c-0.657,1.79-1.292,3.27-1.904,4.437h9.588L708.627,86.768z",],
  219: [ 720, 64, 0, 0, 0, 0, 10, // 'key111',
"M742.107,102.269h4.654l-0.365,1.716h-2.626l-4.233,19.916h2.626l-0.364,1.716h-4.654L742.107,102.269z M737.945,88.42c1.056,0,2.033-0.984,2.39-2.664l0.908-4.272c0.505-2.376,1.888-3.12,3.256-3.12h1.703l-0.336,1.584h-1.225 c-1.176,0-1.43,1.08-1.618,1.968l-0.877,4.128c-0.495,2.328-2.222,3-2.766,3.072l-0.01,0.048c0.513,0.072,1.954,0.744,1.459,3.072 l-0.877,4.128c-0.189,0.888-0.395,1.968,0.781,1.968h1.224l-0.336,1.584h-1.704c-1.368,0-2.435-0.744-1.929-3.12l0.907-4.272 c0.357-1.68-0.201-2.664-1.258-2.664L737.945,88.42z",],
  221: [ 784, 64, 0, 0, 0, 0, 10, // 'key112',
"M803.822,125.617h-4.653l0.364-1.716h2.626l4.233-19.916h-2.626l0.365-1.716h4.653L803.822,125.617z M807.759,89.86c-1.056,0-2.033,0.984-2.39,2.664l-0.908,4.272c-0.505,2.376-1.888,3.12-3.255,3.12h-1.704l0.336-1.584 h1.225c1.176,0,1.43-1.08,1.618-1.968l0.877-4.128c0.495-2.328,2.222-3,2.766-3.072l0.01-0.048 c-0.513-0.072-1.954-0.744-1.459-3.072l0.878-4.128c0.188-0.888,0.394-1.968-0.782-1.968h-1.224l0.337-1.584h1.703 c1.368,0,2.435,0.744,1.93,3.12l-0.908,4.272c-0.357,1.68,0.201,2.664,1.258,2.664L807.759,89.86z",],
  13: [ 848, 64, 'keyEnterBP', 0, 'keyEnterFP', 'keyEnterFG', 10, // 'key113',
"M855.961,177.156c-0.042,0.281-0.114,0.544-0.219,0.789c-0.104,0.245-0.237,0.484-0.398,0.719s-0.362,0.472-0.602,0.711 c-0.479,0.479-0.958,0.818-1.438,1.016c-0.479,0.198-1.047,0.297-1.703,0.297h-24.312l4.953,4.953l-1.141,1.156l-6.891-6.914 l6.891-6.93l1.141,1.156l-4.953,4.953h24.312c0.438,0,0.802-0.067,1.094-0.202s0.589-0.353,0.891-0.654 c0.302-0.301,0.519-0.602,0.648-0.903c0.13-0.301,0.195-0.659,0.195-1.075v-2.041v-2.134c0-0.415-0.067-0.766-0.203-1.051 c-0.136-0.285-0.349-0.573-0.641-0.864c-0.302-0.301-0.602-0.514-0.898-0.639c-0.297-0.125-0.659-0.187-1.086-0.187h-5.281v-1.625 h5.281c0.333,0,0.641,0.021,0.922,0.062c0.281,0.042,0.547,0.115,0.797,0.219c0.25,0.104,0.489,0.237,0.719,0.398 c0.229,0.162,0.464,0.362,0.703,0.602c0.469,0.469,0.8,0.938,0.992,1.406s0.289,1.026,0.289,1.672v2.141v2.047 C856.023,176.568,856.003,176.875,855.961,177.156z",],
  20: [ 0, 128, 'ctrlBP', 0, 'ctrlFP', 'ctrlFG', 0, // 'key20',
"M31.648,173.406v5.531h-8.312v-5.531h-5.5l9.664-8.062l9.68,8.062H31.648z M27.539,167.391l-5.297,4.406h2.719v5.547h5.094 v-5.547h2.781L27.539,167.391z M23.336,187.5v-6.094h8.312v6.094H23.336z M30.055,183h-5.094v2.906h5.094V183z",],
  65: [ 104, 128, 0, 0, 0, 0, 0, // 'key21',
"M126.094,166.269h3.068l1.046,18.564h-2.392l-0.243-5.096h-5.928l-2.461,5.096h-2.392L126.094,166.269z M122.511,177.865 h4.992l-0.459-8.97h-0.052L122.511,177.865z M156.133,157.125h-1.632v-9.435c0-0.385-0.187-0.578-0.561-0.578h-7.548c-0.374,0-0.561,0.192-0.561,0.578v9.503H144.2 v-10.455c0-0.34,0.119-0.624,0.356-0.851c0.25-0.227,0.544-0.34,0.884-0.34h9.214c0.385,0,0.725,0.108,1.02,0.323 c0.306,0.204,0.459,0.493,0.459,0.867V157.125z",],
  83: [ 168, 128, 0, 0, 0, 0, 1, // 'key22',
"M193.31,171.079c0.415-1.95,0-3.302-2.184-3.302c-1.924,0-3.289,1.04-3.709,3.016c-1.111,5.226,8.314,2.106,6.872,8.892 c-0.912,4.29-4.317,5.512-6.943,5.512c-4.342,0-5.141-2.236-4.301-6.188h2.288c-0.442,2.08-0.788,4.316,2.566,4.316 c1.82,0,3.5-1.3,3.92-3.276c1.116-5.252-8.292-2.21-6.844-9.022c0.365-1.716,1.817-5.122,6.522-5.122 c3.536,0,4.772,1.768,4.101,5.174H193.31z M220.032,148.931c-0.147,2.04-0.272,3.406-0.374,4.098c-0.228,1.62-0.539,2.765-0.936,3.434 c-0.601,1.02-1.587,1.53-2.958,1.53c-0.556,0-1.519-0.193-2.89-0.578l-0.103-1.87c1.235,0.544,2.125,0.816,2.669,0.816 c1.519,0,2.392-1.145,2.618-3.435c0.046-0.544,0.113-1.354,0.204-2.431h-4.301l-0.595-1.088l1.598-3.179h-6.664v-1.547h7.803 l0.766,1.326l-1.462,2.924H220.032z",],
  68: [ 232, 128, 0, 0, 0, 0, 2, // 'key23',
"M249.96,166.269h4.966c5.772,0,5.616,4.16,4.527,9.282c-0.995,4.68-3.143,9.282-8.239,9.282h-5.199L249.96,166.269z M248.7,182.961h2.392c3.952,0,5.257-4.056,5.964-7.384c0.763-3.588,1.347-7.436-2.813-7.436h-2.392L248.7,182.961z M284.763,146.943h-7.429c-0.204,0.408-0.754,1.411-1.649,3.009h7.446c0,0.227-0.034,1.303-0.102,3.229 c-0.114,3.095-1.372,4.642-3.774,4.642c-0.714,0-1.678-0.136-2.89-0.408l-0.034-1.751c1.167,0.306,2.103,0.459,2.805,0.459 c1.349,0,2.097-0.89,2.244-2.669c0.045-0.51,0.091-1.156,0.136-1.938h-7.004l-0.918-1.275c0.669-1.031,1.314-2.131,1.938-3.298 h-3.961v-1.564h13.191V146.943z",],
  70: [ 296, 128, 0, 0, 0, 0, 3, // 'key24',
"M315.183,166.269h9.594l-0.432,2.028h-7.306l-1.238,5.824h6.891l-0.432,2.028h-6.89l-1.846,8.684h-2.288L315.183,166.269z M346.179,157.346l-1.309,1.037c-1.644-1.949-3.882-4.085-6.715-6.409c2.391-2.629,4.402-5.123,6.034-7.48l1.377,0.969 c-1.484,2.04-3.195,4.177-5.134,6.409C342.643,153.708,344.559,155.533,346.179,157.346z",],
  71: [ 360, 128, 0, 0, 0, 0, 3, // 'key25',
"M385.693,171.417c0.311-1.95-0.059-3.64-2.32-3.64c-3.172,0-4.329,3.484-5.241,7.774c-0.911,4.29-1.236,7.774,1.936,7.774 c3.173,0,4.213-3.796,4.738-6.266h-3.666l0.398-1.872h5.745l-2.05,9.646h-1.716l0.536-2.522h-0.053 c-0.831,1.586-2.589,2.886-4.617,2.886c-4.836,0-4.705-4.654-3.644-9.646c0.995-4.68,2.908-9.646,8.03-9.646 c5.33,0,4.493,4.55,4.314,5.512H385.693z M412.695,149.9c0,0.352-0.147,0.663-0.442,0.935c-0.307,0.283-0.635,0.425-0.986,0.425h-7.684 c-0.17,1.655-0.431,2.907-0.782,3.757c-0.453,1.099-1.139,2.12-2.057,3.06l-1.105-1.258c0.93-0.986,1.575-2.085,1.938-3.298 c0.261-0.873,0.441-2.153,0.544-3.842h8.364c0.385,0,0.577-0.192,0.577-0.578v-2.176c0-0.374-0.192-0.561-0.577-0.561h-9.248 v-1.547h10.098c0.362,0,0.68,0.13,0.952,0.391c0.271,0.261,0.408,0.572,0.408,0.935V149.9z",],
  72: [ 424, 128, 0, 0, 0, 0, 13, // 'key26',
"M448.974,184.833h-2.288l1.9-8.944h-6.369l-1.901,8.944h-2.288l3.946-18.564h2.287l-1.613,7.592h6.37l1.613-7.592h2.288 L448.974,184.833z M476.763,148.745h-7.752c-0.295,0.544-0.754,1.377-1.377,2.499h6.834l1.105,1.173c-0.42,1.587-0.98,2.816-1.684,3.689 c-0.782,0.975-1.898,1.723-3.349,2.244l-0.833-1.581c1.145-0.272,2.022-0.731,2.635-1.377c0.544-0.567,1.015-1.445,1.411-2.635 h-7.786l-0.51-1.02c0.702-1.201,1.264-2.199,1.683-2.992h-3.569v-1.564h4.368c0.556-1.133,0.98-2.079,1.275-2.839l1.513,0.544 c-0.204,0.454-0.555,1.219-1.054,2.295h7.089V148.745z",],
  74: [ 488, 128, 0, 0, 0, 0, 13, // 'key27',
"M512.663,179.503c-0.702,3.302-2.042,5.694-5.864,5.694c-3.094,0-3.917-2.002-3.441-4.238l0.326-1.534h2.184l-0.287,1.352 c-0.32,1.508,0.057,2.548,1.591,2.548c2.08,0,2.679-1.352,3.221-3.9l2.797-13.156h2.288L512.663,179.503z M540.576,156.599l-1.241,1.156c-1.825-2.04-3.479-3.83-4.964-5.372c-1.803,1.836-3.621,3.627-5.457,5.372l-1.156-1.241 c1.938-1.779,3.769-3.547,5.491-5.304c-1.712-1.734-3.44-3.428-5.186-5.083l1.207-1.139c1.405,1.349,3.105,3.031,5.101,5.049 c1.62-1.666,3.162-3.349,4.624-5.049l1.207,1.156c-1.485,1.677-3.049,3.372-4.692,5.083 C536.994,152.734,538.684,154.525,540.576,156.599z",],
  75: [ 552, 128, 0, 0, 0, 0, 12, // 'key28',
"M570.454,166.269h2.288l-1.912,8.996h0.052l8.334-8.996h2.549l-7.264,7.748l3.785,10.816h-2.548l-3.117-8.944l-2.481,2.626 l-1.344,6.318h-2.288L570.454,166.269z M604.95,148.558h-5.56v2.499l-1.309,1.071c-2.414,0.057-3.621,0.805-3.621,2.244c0,0.726,0.431,1.292,1.292,1.7 c0.691,0.328,1.445,0.493,2.261,0.493c1.235,0,2.182-0.278,2.839-0.833c0.624-0.51,1.116-1.371,1.479-2.584l1.53,0.799 c-0.487,1.45-1.179,2.527-2.074,3.229c-0.93,0.726-2.147,1.088-3.655,1.088c-1.417,0-2.612-0.289-3.587-0.867 c-1.19-0.691-1.785-1.7-1.785-3.026c0-2.334,1.66-3.609,4.981-3.825v-1.989h-6.358v-1.564h6.358v-2.635h1.648v2.635h5.56V148.558z",],
  76: [ 616, 128, 0, 0, 0, 0, 11, // 'key29',
"M635.183,166.269h2.287l-3.515,16.536h7.54l-0.431,2.028h-9.828L635.183,166.269z M668.729,156.921l-1.648,0.731c-0.17-0.374-0.42-0.958-0.748-1.751c-3.639,0.623-6.947,1.252-9.928,1.887l-0.8-1.581 c2.176-1.371,4.29-3.185,6.342-5.44c-2.347,0.329-4.177,0.612-5.491,0.85l-0.851-1.36c1.836-1.813,3.463-3.706,4.879-5.678 l1.31,0.986c-1.179,1.473-2.375,2.878-3.587,4.216c1.598-0.216,3.28-0.402,5.049-0.562c1.043-1.28,1.904-2.408,2.584-3.383 l1.36,1.003c-0.907,1.235-2.018,2.618-3.332,4.148c-1.055,1.224-2.596,2.742-4.624,4.556c1.903-0.351,4.028-0.72,6.375-1.105 c-0.329-0.657-0.624-1.224-0.885-1.7l1.496-0.765C667.125,153.493,667.958,155.142,668.729,156.921z",],
  186: [ 680, 128, 0, 0, 0, 0, 10, // 'key210',
"M698.89,182.077h2.393l-0.481,2.262c-0.42,1.976-0.951,3.744-3.314,4.342l0.26-1.222c1.004-0.442,1.349-0.962,1.569-2.002 l0.133-0.624h-1.145L698.89,182.077z M701.101,171.677h2.392l-0.586,2.756h-2.392L701.101,171.677z M699.38,156.956h2.208l-0.541,2.544h-2.208L699.38,156.956z M701.42,147.356h2.208l-0.541,2.544h-2.208L701.42,147.356z M732.797,149.441h-5.083v6.239c0,0.374,0.187,0.562,0.561,0.562h4.013v1.563h-4.981c-0.328,0-0.612-0.113-0.85-0.34 c-0.238-0.238-0.357-0.521-0.357-0.85v-6.086c-0.657,1.779-1.343,3.201-2.057,4.267c-0.851,1.27-1.949,2.392-3.298,3.366 l-1.207-1.326c2.414-1.507,4.17-3.972,5.27-7.395h-5.15v-1.564h5.524c0.192-0.963,0.329-2.006,0.408-3.128l1.7,0.17 c-0.08,0.657-0.222,1.644-0.425,2.958h5.933V149.441z",],
  222: [ 744, 128, 0, 0, 0, 0, 10, // 'key211',
"M766.25,166.269h2.392l-0.48,2.262c-0.42,1.976-0.952,3.744-3.314,4.342l0.26-1.222c1.004-0.442,1.348-0.962,1.569-2.002 l0.133-0.624h-1.145L766.25,166.269z M764.347,142.364h1.584l-1.296,6.096h-1.584L764.347,142.364z M768.354,142.364h1.584l-1.296,6.096h-1.584L768.354,142.364 z",],
  16: [ [ 0, 193, 'keyCLBP', 0, 'keyCLFP', 'ctrlFG', 0, // 'key30',
"M31.648,245.969v5.531h-8.312v-5.531h-5.5l9.664-8.062l9.68,8.062H31.648z M27.539,239.953l-5.297,4.406h2.719v5.547h5.094 v-5.547h2.781L27.539,239.953z",],
        [ 768, 193, 'keyRSBP', 0, 'keyRSFP', 'ctrlFG', 10, // key30, right-shift
"M799.648,245.969v5.531h-8.312v-5.531h-5.5l9.664-8.062l9.68,8.062H799.648z M795.539,239.953l-5.297,4.406h2.719v5.547 h5.094v-5.547h2.781L795.539,239.953z",],],
  90: [ 128, 193, 0, 0, 0, 0, 0, // 'key31',
"M142.488,246.909l11.452-14.612h-7.878l0.431-2.027h10.27l-0.447,2.105l-11.414,14.431h8.45l-0.431,2.027h-10.842 L142.488,246.909z M180.354,221.312h-11.118c-0.317,0-0.606-0.096-0.867-0.289c-0.261-0.182-0.391-0.431-0.391-0.748v-9.282 c0-0.317,0.113-0.566,0.34-0.748c0.237-0.192,0.521-0.289,0.85-0.289h11.118v1.564h-10.098c-0.385,0-0.578,0.187-0.578,0.561v7.106 c0,0.374,0.192,0.561,0.578,0.561h10.166V221.312z",],
  88: [ 192, 193, 0, 0, 0, 0, 1, // 'key32',
"M209.609,230.27h2.548l1.904,6.941l4.882-6.941h2.392l-6.567,9.126l2.934,9.438h-2.548l-2.111-7.436l-5.351,7.436h-2.393 l6.946-9.438L209.609,230.27z M244.644,212.302c0.022,2.391-0.045,4.42-0.204,6.086c-0.113,1.213-0.356,2.091-0.73,2.635 c-0.487,0.736-1.286,1.105-2.397,1.105c-0.906,0-1.927-0.154-3.06-0.459v-1.717c1.292,0.396,2.232,0.594,2.822,0.594 c0.634,0,1.076-0.215,1.325-0.645c0.147-0.25,0.267-0.748,0.357-1.496c0.136-1.123,0.221-2.641,0.255-4.557h-3.688 c-0.646,1.949-1.451,3.547-2.414,4.794c-1.122,1.439-2.533,2.527-4.233,3.265l-0.765-1.293c1.473-0.668,2.686-1.58,3.638-2.736 c0.85-1.031,1.575-2.375,2.176-4.029h-5.219l-0.816-1.411c1.247-1.258,2.381-2.561,3.4-3.91l1.241,1.003 c-0.363,0.487-1.145,1.411-2.346,2.771h4.182c0.385-1.439,0.651-2.584,0.799-3.434l1.513,0.272c-0.271,1.36-0.51,2.414-0.714,3.162 H244.644z",],
  67: [ 256, 193, 0, 0, 0, 0, 2, // 'key33',
"M282.978,242.463c-0.954,3.511-3.018,6.734-7.074,6.734c-5.277,0-4.924-4.966-3.929-9.646 c0.994-4.68,2.908-9.646,8.03-9.646c3.796,0,4.929,2.132,4.259,5.771h-2.392c0.396-2.105,0.101-3.899-2.266-3.899 c-3.172,0-4.328,3.483-5.24,7.773s-1.236,7.774,1.936,7.774c2.782,0,3.725-2.6,4.283-4.862H282.978z M308.865,210.806h-9.521c-0.045,3.252-0.249,5.577-0.612,6.971c-0.407,1.586-1.07,3.082-1.988,4.486l-1.275-1.02 c1.009-1.62,1.672-3.553,1.989-5.797c0.192-1.371,0.289-3.434,0.289-6.188h11.118V210.806z",],
  86: [ 320, 193, 0, 0, 0, 0, 3, // 'key34',
"M337.389,230.27h2.392l0.252,15.938h0.053l7.027-15.938h2.392l-8.626,18.563h-2.911L337.389,230.27z M372.797,210.755h-5.814v11.323h-1.666v-11.323h-5.779v-1.564h13.26V210.755z",],
  66: [ 384, 193, 0, 0, 0, 0, 3, // 'key35',
"M402.207,230.27h5.694c2.418,0,4.515,1.144,3.746,4.758c-0.359,1.689-1.732,3.38-3.527,3.874l-0.011,0.052 c2.172,0.546,2.815,2.288,2.329,4.576c-0.801,3.77-3.26,5.304-7.134,5.304h-5.044L402.207,230.27z M400.947,246.961h3.12 c2.418,0,3.598-1.638,3.979-3.432c0.541-2.548-0.887-3.536-2.889-3.536h-2.73L400.947,246.961z M402.793,238.277h2.626 c0.962,0,3.195-0.234,3.804-3.094c0.409-1.925-0.315-3.042-2.552-3.042h-2.573L402.793,238.277z M435.98,220.428c0,0.352-0.142,0.641-0.425,0.867s-0.601,0.34-0.952,0.34h-9.061c-0.34,0-0.624-0.129-0.851-0.391 c-0.227-0.26-0.34-0.566-0.34-0.918v-10.013c0-0.351,0.137-0.64,0.408-0.867c0.283-0.227,0.606-0.34,0.969-0.34h9.062 c0.362,0,0.651,0.136,0.867,0.408c0.215,0.272,0.322,0.596,0.322,0.969V220.428z M434.349,219.477v-8.211 c0-0.385-0.192-0.578-0.578-0.578h-7.225c-0.374,0-0.561,0.193-0.561,0.578v8.211c0,0.385,0.187,0.578,0.561,0.578h7.174 C434.139,220.055,434.349,219.861,434.349,219.477z M432.802,216.365l-1.088,1.326c-1.337-1.428-2.754-2.646-4.25-3.654l0.867-1.31 C429.94,213.816,431.431,215.028,432.802,216.365z",],
  78: [ 448, 193, 0, 0, 0, 0, 13, // 'key36',
"M465.727,230.27h2.964l2.842,15.496h0.052l3.294-15.496h2.288l-3.946,18.563h-3.146l-2.76-15.027h-0.052l-3.194,15.027 h-2.288L465.727,230.27z M500.797,220.803l-1.462,0.714l-0.901-1.888c-3.298,0.477-6.687,1.031-10.166,1.666l-0.73-1.258 c2.527-3.762,4.511-7.434,5.95-11.016l1.462,0.595c-1.247,3.127-2.941,6.403-5.083,9.827c1.099-0.217,3.677-0.641,7.734-1.275 c-0.261-0.465-0.663-1.15-1.207-2.057l1.36-0.816C498.933,217.153,499.946,218.989,500.797,220.803z",],
  77: [ 512, 193, 0, 0, 0, 0, 13, // 'key37',
"M527.854,230.27h3.848l0.59,14.716h0.053l6.846-14.716h3.848l-3.945,18.563h-2.288l3.448-16.224h-0.052l-7.557,16.224 h-2.288l-0.659-16.224h-0.053l-3.448,16.224h-2.288L527.854,230.27z M564.1,220.123c0,0.362-0.164,0.65-0.493,0.867c-0.34,0.215-0.696,0.322-1.07,0.322h-8.993 c-0.352,0-0.657-0.113-0.918-0.34s-0.392-0.51-0.392-0.85v-10.506h1.633v9.553c0,0.387,0.192,0.578,0.578,0.578h7.463 c0.374,0,0.561-0.191,0.561-0.578v-9.553h1.632V220.123z",],
  188: [ 576, 193, 0, 0, 0, 0, 12, // 'key38',
"M595.369,246.077h2.393l-0.481,2.262c-0.42,1.977-0.951,3.744-3.314,4.343l0.26-1.223c1.004-0.441,1.349-0.962,1.569-2.002 l0.133-0.624h-1.145L595.369,246.077z M628.797,214.189h-3.043v3.809h-1.649v-3.809h-4.182v5.678c0,0.375,0.192,0.561,0.578,0.561h7.497v1.582h-8.5 c-0.34,0-0.629-0.113-0.867-0.34c-0.238-0.238-0.357-0.527-0.357-0.867v-6.613h-2.736v-1.564h2.736l0.018-3.825h1.632v3.825h4.182 V208.8h1.649v3.825h3.043V214.189z",],
  190: [ 640, 193, 0, 0, 0, 0, 11, // 'key39',
"M659.369,246.077h2.393l-0.586,2.756h-2.393L659.369,246.077z M692.78,220.31l-1.275,1.325c-1.225-1.359-2.691-2.697-4.403-4.012c-1.076,1.055-2.119,1.854-3.128,2.397 c-1.076,0.578-2.335,1.003-3.773,1.274l-0.646-1.648c2.596-0.42,4.698-1.395,6.308-2.924c-1.496-0.952-3.305-1.875-5.424-2.771 l0.8-1.359c1.903,0.793,3.813,1.773,5.729,2.941c0.873-1.123,1.757-2.721,2.652-4.794h-8.993v-1.564h9.689l1.174,1.224 c-0.964,2.505-2.04,4.5-3.23,5.984C689.936,217.664,691.442,218.973,692.78,220.31z",],
  191: [ 704, 193, 0, 0, 0, 0, 10, // 'key310',
"M729.682,229.905h1.716l-10.133,19.292h-1.716L729.682,229.905z M719.766,227.916c2.622-3.191,4.14-7.056,4.931-10.775c0.826-3.889,0.696-7.345-0.35-10.776h1.151 c1.599,3.096,2.02,6.984,1.214,10.776c-0.811,3.815-2.852,7.655-5.794,10.775H719.766z M756.508,221.363h-12.172l-0.51-1.225c2.912-3.512,5.122-7.111,6.63-10.794l1.513,0.595 c-1.644,3.639-3.576,6.93-5.797,9.877h10.336V221.363z",],
  17: [[ 0, 256, 'ctrlBP', 0, 'ctrlFP', 'ctrlFG', 0, // 'key40',
"M23.436,308.04c0.221-1.04,0.052-2.22-1.228-2.22c-1.04,0-2.21,0.52-3.044,4.439c-0.297,1.4-0.873,4.2,1.147,4.2 c1.44,0,2.083-1.52,2.33-2.68h1.68c-0.361,1.7-1.69,4-4.371,4c-2.62,0-3.333-1.82-2.551-5.5c0.57-2.68,1.749-5.78,5.048-5.78 c2.92,0,2.931,2.3,2.668,3.54H23.436z M28.712,301.66h1.68l-0.663,3.12h1.86l-0.28,1.32h-1.86l-1.462,6.88c-0.183,0.859-0.035,1.2,0.845,1.2 c0.36,0,0.568-0.04,0.752-0.061l-0.293,1.38c-0.229,0.04-0.686,0.12-1.386,0.12c-1.74,0-2.007-0.72-1.709-2.12l1.573-7.399h-1.56 l0.28-1.32h1.56L28.712,301.66z M32.729,304.78h1.68l-0.34,1.6h0.04c0.697-1.02,1.52-1.88,2.72-1.88c0.34,0,0.571,0.04,0.714,0.12l-0.349,1.64 c-0.156-0.02-0.343-0.079-0.883-0.079c-0.84,0-2.361,0.76-2.74,2.54L32.13,315.5h-1.68L32.729,304.78z M39.505,301.221h1.68L38.15,315.5h-1.68L39.505,301.221z",],
       [ 856, 256, 'ctrlBP', 0, 'ctrlFP', 'ctrlFG', 10, // 'key40',
"M879.437,308.04c0.221-1.04,0.052-2.22-1.229-2.22c-1.04,0-2.21,0.52-3.044,4.439c-0.297,1.4-0.872,4.2,1.147,4.2 c1.44,0,2.083-1.52,2.33-2.68h1.68c-0.361,1.7-1.69,4-4.37,4c-2.62,0-3.333-1.82-2.551-5.5c0.569-2.68,1.748-5.78,5.048-5.78 c2.921,0,2.932,2.3,2.668,3.54H879.437z M884.712,301.66h1.681l-0.663,3.12h1.859l-0.28,1.32h-1.86l-1.462,6.88c-0.183,0.859-0.035,1.2,0.845,1.2 c0.36,0,0.568-0.04,0.753-0.061l-0.293,1.38c-0.229,0.04-0.686,0.12-1.386,0.12c-1.74,0-2.007-0.72-1.71-2.12l1.573-7.399h-1.56 l0.28-1.32h1.56L884.712,301.66z M888.729,304.78h1.681l-0.341,1.6h0.04c0.697-1.02,1.52-1.88,2.72-1.88c0.34,0,0.571,0.04,0.715,0.12l-0.349,1.64 c-0.156-0.02-0.343-0.079-0.883-0.079c-0.84,0-2.361,0.76-2.74,2.54l-1.441,6.779h-1.68L888.729,304.78z M895.506,301.221h1.68L894.15,315.5h-1.68L895.506,301.221z",],],
  18: [[ 104, 256, 'ctrlBP', 0, 'ctrlFP', 'ctrlFG', 0, // 'key41',
"M124.86,308.021c0.519-2.44,1.789-3.521,4.348-3.521c3.26,0,2.844,1.96,2.605,3.08l-1.271,5.98 c-0.093,0.439-0.183,0.859,0.337,0.859c0.22,0,0.328-0.04,0.421-0.1l-0.255,1.2c-0.124,0.02-0.581,0.1-1.001,0.1 c-0.64,0-1.44,0-1.227-1.38h-0.04c-0.744,0.96-1.907,1.54-2.907,1.54c-2,0-2.665-1.2-2.257-3.12c0.319-1.5,1.18-2.54,2.649-2.96 l2.404-0.68c1.301-0.38,1.373-0.721,1.564-1.62c0.212-1-0.264-1.58-1.384-1.58c-1.84,0-2.206,1.72-2.286,2.1l-0.021,0.101H124.86z M129.691,309.66c-0.76,0.66-2.27,0.8-3.128,1.26c-0.612,0.34-0.981,0.761-1.181,1.7c-0.229,1.08-0.011,1.84,1.129,1.84 c1.1,0,2.36-0.939,2.594-2.04L129.691,309.66z M135.545,301.221h1.68L134.19,315.5h-1.68L135.545,301.221z M139.931,301.66h1.68l-0.663,3.12h1.86l-0.28,1.32h-1.86l-1.462,6.88c-0.183,0.859-0.035,1.2,0.845,1.2 c0.36,0,0.568-0.04,0.752-0.061l-0.293,1.38c-0.229,0.04-0.686,0.12-1.386,0.12c-1.74,0-2.007-0.72-1.709-2.12l1.573-7.399h-1.56 l0.28-1.32h1.56L139.931,301.66z",],
       [ 752, 256, 'ctrlBP', 0, 'ctrlFP', 'ctrlFG', 10, // 'key41',
"M772.86,308.021c0.519-2.44,1.788-3.521,4.348-3.521c3.261,0,2.844,1.96,2.605,3.08l-1.271,5.98 c-0.094,0.439-0.183,0.859,0.337,0.859c0.22,0,0.328-0.04,0.421-0.1l-0.255,1.2c-0.124,0.02-0.581,0.1-1.001,0.1 c-0.64,0-1.44,0-1.227-1.38h-0.04c-0.744,0.96-1.907,1.54-2.907,1.54c-2,0-2.665-1.2-2.257-3.12c0.318-1.5,1.18-2.54,2.649-2.96 l2.404-0.68c1.301-0.38,1.373-0.721,1.564-1.62c0.212-1-0.265-1.58-1.385-1.58c-1.84,0-2.205,1.72-2.286,2.1l-0.021,0.101H772.86z M777.691,309.66c-0.76,0.66-2.27,0.8-3.128,1.26c-0.612,0.34-0.981,0.761-1.181,1.7c-0.229,1.08-0.012,1.84,1.129,1.84 c1.1,0,2.359-0.939,2.594-2.04L777.691,309.66z M783.546,301.221h1.68L782.19,315.5h-1.68L783.546,301.221z M787.932,301.66h1.68l-0.663,3.12h1.86l-0.28,1.32h-1.86l-1.463,6.88c-0.183,0.859-0.034,1.2,0.846,1.2 c0.359,0,0.568-0.04,0.752-0.061l-0.293,1.38c-0.229,0.04-0.686,0.12-1.386,0.12c-1.739,0-2.007-0.72-1.709-2.12l1.573-7.399 h-1.561l0.28-1.32h1.561L787.932,301.66z",],],
  32: [ 208, 256, 'spaceBP', 0, 'spaceFP', 'spaceFG', 4, ], // 'key42',
};

var keyData = {
  scan: 0,
  ascii: 0,
  shift:0,
  ctrl:0,
  alt: 0,
  getMsg: function(){
    return 'scan: '+this.scan+' / ASCII: '+ this.ascii + ' modifier('+
            this.shift+','+this.ctrl+','+this.alt+')';
  },
  clean: function() { this.code = this.shift = this.ctrl = this.alt = 0; },
}

function myKeyPress(e){
  var evt = window.event||e;
  keyData.ascii = evt.keyCode || evt.which || evt.charCode;

  keyData.shift = evt.shiftKey;
  keyData.ctrl = evt.ctrlKey;
  keyData.alt = evt.altKey;
  return supressdefault(evt,1);
}
function myKeyUp(e){
  var evt = window.event||e;
  keyData.scan = evt.keyCode || evt.which || evt.charCode;
  if (keyData.scan == 59) keyData.scan = 186;

  processKB();
  keyData.scan = keyData.ascii = keyData.shift = keyData.ctrl = keyData.alt = 0;
  return supressdefault(evt,1);
}
function compare2code(code1, code2){
  return getScan(code1) == getScan(code2);
}
function showCurrentTestChar(){
  if (selectedCid > 0)
    ToggleFP(getScan(classDB[selectedCid].test.charCodeAt(testPos)), "#FF0000");
}

function processKB(){
  var flashTimes = 3;

  if (selectedCid > 0) {
    var testCode = classDB[selectedCid].test.charCodeAt(testPos) || 32;
    testCode = getScan(testCode);
    console.log('processKB(', testCode, keyData.scan, keyData.ascii, ')');
    if (testCode == (keyData.scan||keyData.ascii)){
      flashTimes = 1;
      ToggleFP(testCode);
      ++testPos;
      if (testPos >= classDB[selectedCid].test.length) testPos = 0;
      showCurrentTestChar();
    }
  }
  else flashTimes = 1;
  flashKey(keyData.scan, flashTimes);
} // processKB()

function flashKey(keyCode, flashTimes){
  keyCode = keyDB[keyCode] ? keyCode : 32;
  var keyItem = keyDB[keyCode];
  flashTimes += flashTimes;
  var ft = 240/flashTimes;
  var id='';
  if (typeof(keyItem[0]) == 'object'){
    id = 'keyFGL'+keyCode;
    for (var i=0; i<flashTimes; ++i){
      setTimeout('ToggleVisibility("'+id+'")', i*ft);
    }
    id = 'keyFGR'+keyCode;
    for (var i=0; i<flashTimes; ++i){
      setTimeout('ToggleVisibility("'+id+'")', i*ft);
    }
  } else {
    id = 'keyFG'+keyCode;
    for (var i=0; i<flashTimes; ++i){
      setTimeout('ToggleVisibility("'+id+'")', i*ft);
    }
  }
}

function supressdefault(e,flag) {
  if (flag) {
    if (e.preventDefault) e.preventDefault();
    if (e.stopPropagation) e.stopPropagation();
  }
  return !flag;
}

function getFG(keyCode){
  keyCode = keyDB[keyCode] ? keyCode : 32;
  var keyItem = keyDB[keyCode];
  var ret = '';
  if (selectedCid > 0 &&
      classDB[selectedCid].allowKeys.has(keyCode) >= 0)
  {
    ret = "#FFFF00";
  } else if (typeof(keyItem[0]) == 'object') {
    ret = 'url(#'+ (keyItem[0][5] ? keyItem[0][5] : 'keyFG') + ')';
  } else {
    ret = 'url(#'+ (keyItem[5] ? keyItem[5] : 'keyFG') + ')';
  }
  return ret;
}
function getBG(keyCode, R){
  keyCode = keyDB[keyCode] ? keyCode : 32;
  var keyItem = keyDB[keyCode];
  var ret = '';
  if (selectedCid > 0) {
    if (typeof(keyItem[0]) == 'object') {
      if (R) {
        ret = colorMap[keyItem[1][6]];
      }
      else
        ret = colorMap[keyItem[0][6]];
    } else ret = colorMap[keyItem[6]];
  } else if (typeof(keyItem[0]) == 'object')
    ret = 'url(#'+ (keyItem[0][3] ? keyItem[0][3] : 'keyBG') + ')';
  else
    ret = 'url(#'+ (keyItem[3] ? keyItem[3] : 'keyBG') + ')';
  return ret;
}

function ToggleBP(keyCode, color) {
  keyCode = keyDB[keyCode] ? keyCode : 32;
  var keyItem = keyDB[keyCode];
  if (typeof(keyItem[0]) == 'object'){
    setAttr('keyBGL'+keyCode, 'fill', (color || getBG(keyCode)));
    setAttr('keyBGR'+keyCode, 'fill', (color || getBG(keyCode, 'R')));
  } else {
    setAttr('keyBG'+keyCode, 'fill', (color || getBG(keyCode)));
  }
}
function ToggleFP(keyCode, color) {
  keyCode = keyDB[keyCode] ? keyCode : 32;
  var id='';
  var fg=color || getFG(keyCode);
  var keyItem = keyDB[keyCode];
  if (typeof(keyItem[0]) == 'object'){
    id = 'keyFGL'+keyCode;
    setAttr(id, 'fill', fg);
    id = 'keyFGR'+keyCode;
    setAttr(id, 'fill', fg);
  } else {
    id = 'keyFG'+keyCode;
    setAttr(id, 'fill', fg);
  }
}

function ToggleDisplay(targetId) {
  var newValue = getAttr(targetId, 'display');

  if ('none' != newValue) { newValue = 'none'; }
  else { newValue = 'inline'; }

  setAttr(targetId, 'display', newValue);
}

function ToggleVisibility(targetId) {
  var newValue = getAttr(targetId, 'visibility')

  if ('hidden' != newValue) { newValue = 'hidden'; }
  else { newValue = 'visible'; }

  setAttr(targetId, 'visibility', newValue);
}

function ToggleOpacity(targetId) {
  var newValue = getAttr(targetId, 'opacity');

  if ('0' != newValue) { newValue = '0'; }
  else { newValue = '1'; }

  setAttr(targetId, 'opacity', newValue);
}

/* Extends Element functionality to add insertElement method */
Element.prototype.constructElementNS = function( namespace, elementName, attributeObj ) {
  var el = document.createElementNS( namespace, elementName );
  for ( var attr in attributeObj )
  {
    var attrValue = attributeObj[ attr ];
    if ("object" == typeof attrValue) {
      el.setAttributeNS( attrValue[0], attr, attrValue[1] );
    }
    else {
      el.setAttribute( attr, attrValue );
    }
  }

  return el;
}

Element.prototype.constructElement = function( elementName, attributeObj ) {
  var el = this.constructElementNS( this.namespaceURI, elementName, attributeObj );     
  return el;
}

Element.prototype.insertElementNS = function( namespace, elementName, attributeObj, index ) {
  var el = this.constructElementNS( namespace, elementName, attributeObj );     

  // insert child at requested index, or as last child if index is too high or no index is specified
  if ( null == index ) {
    this.appendChild( el );
  }
  else {
    var targetIndex = index + 1;
    if ( 0 == index ) {
      targetIndex = 0;
    }
    
    var targetEl = this.childNodes[ targetIndex ];
    if ( targetEl ) {
      this.insertBefore( el, targetEl ); 
    }
    else {
      this.appendChild( el );
    }
  }
  
  return el;
}

Element.prototype.insertElement = function( elementName, attributeObj, index ) {
  var el = this.insertElementNS( this.namespaceURI, elementName, attributeObj, index );     
  return el;
}

Element.prototype.setAttrValues = function( attributeObj ) {
  for ( var attr in attributeObj )
  {
    var attrValue = attributeObj[ attr ];
    if ("object" == typeof attrValue) {
      this.setAttributeNS( attrValue[0], attr, attrValue[1] );
    }
    else {
      this.setAttribute( attr, attrValue );
    }
  }
}


Element.prototype.getAttrValues = function( attributeObj ) {
  var attrValues = {};
  if ( attributeObj ) {
    for ( var a = 0, aLen = attributeObj.length; aLen > a; a++ ) {
        var eachAttr = attributeObj[ a ];
        attrValues[ eachAttr ] = this.getAttribute( eachAttr );
    }
  }
  else {
    var attrlist = this.attributes;
    for ( var a = 0, aLen = attrlist.length; aLen > a; a++ ) {
        var eachAttr = attrlist[ a ].nodeName;
        attrValues[ eachAttr ] = this.getAttribute( eachAttr );
    }
  }
  
  return attrValues;
}
</script>
</head>
<body onload='init()' style="font-size:20pt">
<select id='selClass' STYLE="background-color: #ff00cc; font-size:20pt"></select>
<span id='help' style="position: relative;"></span>
<br/>
<svg
id="svg1"
version="1.1"
width="967" height="327"
viewBox="0 0 967 327"
xmlns="http://www.w3.org/2000/svg"
style="overflow:visible;width:100%;height:100%;"
xml:space="preserve">

<path fill="#4D4D4D" stroke="#000000;" d="M12.5,0.5c-6.617,0-12,5.383-12,12v302c0,6.617,5.383,12,12,12h942
c6.617,0,12-5.383,12-12v-302c0-6.617-5.383-12-12-12H12.5z"/>

<defs>
<path id='spaceBP' stroke="#808080;" d="M547.5,58.5c0,4.971-4.029,9-9,9h-526c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h526c4.971,0,9,4.029,9,9V314.5z"/>
<path id='spaceFP' stroke="#FFFFFF;" d="M12.5,7.91c-2.757-0.203-4.794,1.833-4.59,4.59
c0.834,15.442,0.834,30.559,0,46c-0.203,2.758,1.833,4.795,4.59,4.591c15.442-0.835,510.558-0.835,526-0.001
c2.757,0.204,4.794-1.832,4.59-4.59c-0.834-15.441-0.834-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C523.058,8.744,27.942,8.744,12.5,7.91z"/>
<path id='keyRSBP' stroke="#808080;" d="M195.5,57.5c0,4.971-4.029,9-9,9h-174c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h174c4.971,0,9,4.029,9,9V250.5z"/>
<path id='keyRSFP' stroke="#FFFFFF;" d="M12.5,6.91c-2.757-0.203-4.794,1.833-4.59,4.59
c0.834,15.442,0.834,30.559,0,46c-0.203,2.758,1.833,4.795,4.59,4.591c15.442-0.835,158.558-0.835,174-0.001
c2.757,0.204,4.794-1.832,4.59-4.59c-0.834-15.441-0.834-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C171.058,7.744,27.942,7.744,12.5,6.91z"/>
<path id='keyCLBP' stroke="#808080;" d="M131.5,57.5c0,4.971-4.029,9-9,9h-110c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h110c4.971,0,9,4.029,9,9V250.5z"/>
<path id='keyCLFP' stroke="#FFFFFF;" d="M12.5,6.91c-2.757-0.203-4.794,1.833-4.59,4.59
c0.835,15.442,0.835,30.559,0,46c-0.204,2.758,1.833,4.795,4.59,4.591c15.442-0.835,95.558-0.835,111-0.001
c2.757,0.204,4.794-1.832,4.59-4.59c-0.835-15.441-0.835-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C108.058,7.744,27.942,7.744,12.5,6.91z"/>
<path id='keyEnterBP' stroke="#808080;" d="M107.5,3.5h-95c-4.971,0-9,4.029-9,9v55h-31c-4.971,0-9,4.029-9,9v46
c0,4.971,4.029,9,9,9h40h55h40c4.971,0,9-4.029,9-9v-110C116.5,7.529,112.471,3.5,107.5,3.5z"/>
<path id='keyEnterFP' stroke="#FFFFFF;" d="M112.09,12.5c0.204-2.757-1.833-4.793-4.59-4.59
c-15.442,0.834-79.558,0.834-95,0c-2.757-0.204-4.794,1.833-4.59,4.59c0.447,8.284,0.654,34.893,0.622,60.166
c-16.995-0.097-30.745-0.278-35.636-0.542c-2.757-0.204-4.794,1.833-4.59,4.59c0.834,15.442,0.834,30.344,0,45.787
c-0.203,2.757,1.833,4.794,4.59,4.59c15.442-0.835,119.161-0.835,134.604,0c2.757,0.204,4.794-1.833,4.59-4.59
C111.256,107.058,111.256,27.942,112.09,12.5z"/>
<path id='keyTabBP' stroke="#808080;" d="M83.5,58.5c0,4.971-4.029,9-9,9h-62c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h62c4.971,0,9,4.029,9,9V122.5z"/>
<path id='keyTabFP' stroke="#FFFFFF;" d="M12.5,7.91c-2.757-0.204-4.794,1.833-4.59,4.59
c0.835,15.442,0.835,30.558,0,46c-0.204,2.757,1.833,4.794,4.59,4.59c15.442-0.835,46.558-0.835,62,0
c2.757,0.204,4.794-1.833,4.59-4.59c-0.835-15.442-0.835-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C59.058,8.745,27.942,8.745,12.5,7.91z"/>
<path id="keyBP" stroke="#808080;" d="M67.5,58.5c0,4.971-4.029,9-9,9h-46c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h46c4.971,0,9,4.029,9,9V58.5z"/>
<path id="keyFP" stroke="#FFFFFF;" d="M12.5,7.91C9.743,7.707,7.706,9.743,7.91,12.5
c0.835,15.442,0.835,30.558,0,46c-0.204,2.757,1.833,4.794,4.59,4.59c15.442-0.835,30.558-0.835,46,0
c2.757,0.204,4.794-1.833,4.59-4.59c-0.835-15.442-0.835-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C43.058,8.745,27.942,8.745,12.5,7.91z"/>

<path id="ctrlBP" stroke="#808080;" d="M107.5,58.5c0,4.971-4.029,9-9,9h-86c-4.971,0-9-4.029-9-9v-46
c0-4.971,4.029-9,9-9h86c4.971,0,9,4.029,9,9V186.5z"/>

<path id="ctrlFP" stroke="#FFFFFF;" d="M12.5,7.91c-2.757-0.204-4.794,1.833-4.59,4.59
c0.835,15.442,0.835,30.559,0,46c-0.204,2.758,1.833,4.795,4.59,4.591c15.442-0.835,70.558-0.835,86-0.001
c2.757,0.204,4.794-1.832,4.59-4.59c-0.835-15.441-0.835-30.558,0-46c0.204-2.757-1.833-4.793-4.59-4.59
C83.058,8.745,27.942,8.745,12.5,7.91z"/>

<linearGradient id="keyBG" gradientUnits="userSpaceOnUse" x1="0" x2="0" y1="67" y2="3">
<stop offset="0.0955" style="stop-color:#919191"/>
<stop offset="0.4157" style="stop-color:#A6A6A6"/>
<stop offset="0.7921" style="stop-color:#CECECE"/>
</linearGradient>
<radialGradient id="keyFG" cx="15" cy="15" r="50.5964" gradientUnits="userSpaceOnUse">
<stop offset="0.2584" style="stop-color:#FFFFFF"/>
<stop offset="0.4575" style="stop-color:#F8F8F8"/>
<stop offset="0.7438" style="stop-color:#E5E5E5"/>
<stop offset="1" style="stop-color:#CECECE"/>
</radialGradient>
<radialGradient id="keyEnterFG" cx="2.8633" cy="15.5" r="119.161" gradientUnits="userSpaceOnUse">
<stop offset="0.2584" style="stop-color:#FFFFFF"/>
<stop offset="0.4575" style="stop-color:#F8F8F8"/>
<stop offset="0.7438" style="stop-color:#E5E5E5"/>
<stop offset="1" style="stop-color:#CECECE"/>
</radialGradient>
<radialGradient id="keyTabFG" cx="22.8633" cy="75.5" r="57.1633" gradientUnits="userSpaceOnUse">
<stop offset="0.2584" style="stop-color:#FFFFFF"/>
<stop offset="0.4575" style="stop-color:#F8F8F8"/>
<stop offset="0.7438" style="stop-color:#E5E5E5"/>
<stop offset="1" style="stop-color:#CECECE"/>
</radialGradient>
<radialGradient id="ctrlFG" cx="27.9077" cy="11.4995" r="68.3009" gradientUnits="userSpaceOnUse">
<stop offset="0.2584" style="stop-color:#FFFFFF"/>
<stop offset="0.4575" style="stop-color:#F8F8F8"/>
<stop offset="0.7438" style="stop-color:#E5E5E5"/>
<stop offset="1" style="stop-color:#CECECE"/>
</radialGradient>
<radialGradient id="spaceFG" cx="100.5" cy="17.5" r="275.855" gradientUnits="userSpaceOnUse">
<stop offset="0.2584" style="stop-color:#FFFFFF"/>
<stop offset="0.4575" style="stop-color:#F8F8F8"/>
<stop offset="0.7438" style="stop-color:#E5E5E5"/>
<stop offset="1" style="stop-color:#CECECE"/>
</radialGradient>
</defs>
</svg><BR/>
</body>
</html>
